@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary-color: #323232;
    --secondary-color: #e97f03;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.938rem;
    width: 100%;
    padding: 1rem 1.5rem 0 1.5rem;
}

header > .search-box {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 18.75rem;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 3px;
}

.search-icon path {
    transition: fill 0.2s ease;
}

header > .search-box > input {
    width: 100%;
    padding: 0.75rem 2rem 0.75rem;
    font-size: 0.875rem;
    color: var(--primary-color);
    border: 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s ease;
}

header > .search-box > input:focus {
    border-bottom-color: var(--secondary-color);
    outline: 0;
}

.search-icon path,
.favorite-icon path {
    fill: inherit;
}

.favorite-icon {
    fill: #959595;
}

.favorite-icon:not(.active) .favorite-svg-use,
.favorite-icon:has(.active) .favorite-active-svg-use {
    display: block;
}

.favorite-icon:not(.active) .favorite-active-svg-use,
.favorite-icon:has(.active) .favorite-svg-use {
    display: none;
}

.favorite-icon.active {
    fill: #e97f03;
}

header > .search-box > input:focus + .search-icon {
    fill: var(--secondary-color);
}

header > .search-box > input::placeholder {
    font-size: 0.875rem;
    color: var(--primary-color);
}

header > .features-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
